@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.container {
    text-align: center;
}

h1 {
    color: darkturquoise;
    font-family: 'Sigmar One', cursive;
    font-size: 4em;
}